/* 画面全体設定 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
    color: white;
}

/* プレーヤーコンテナ */
.player-container {
    text-align: center;
    position: relative;
    width: 80%;
    max-width: 600px;  /* 最大幅を指定 */
    background-color: #333;  /* 背景色 */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* ファイル選択ボタン */
#fileInput {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* 再生画面に進むボタン */
#nextBtn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#nextBtn:hover {
    background-color: #218838;
}

#fileInput:hover {
    background-color: #0056b3;
}